body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: #bf8f8f;
}
.event {
    background: rgb(210, 246, 222);
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
}
button {
    margin: 2px;
    padding: 10px;
    cursor:crosshair;
}
input {
    padding: 5px;
    margin-bottom: 10px;
}